BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 0

PointerAlignment: Left
DerivePointerAlignment: false

BreakBeforeBraces: Attach

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInContainerLiterals: false
SpacesInAngles: Never

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never

AlwaysBreakAfterReturnType: None
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4

IndentCaseLabels: false
IndentGotoLabels: true
IndentPPDirectives: None

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

AlignTrailingComments: true
SpacesBeforeTrailingComments: 1
ReflowComments: true

SortIncludes: false
IncludeBlocks: Preserve

Cpp11BracedListStyle: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true

BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false

InsertTrailingCommas: None
